In [1]:
import numpy as np 
import pandas as pd 
from datetime import datetime


import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()
from plotly.offline import init_notebook_mode, iplot 
import plotly.graph_objs as go
import plotly.offline as py
!pip install pycountry
import folium 
from folium import plugins


import numpy as np
from PIL import Image


import matplotlib.ticker as ticker
import matplotlib.animation as animation
from IPython.display import HTML

# Graphics in retina format 
%config InlineBackend.figure_format = 'retina' 

# Increase the default plot size and set the color scheme
plt.rcParams['figure.figsize'] = 8, 5


# Disable warnings in Anaconda
import warnings
warnings.filterwarnings('ignore')
import os

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pycountry
  Downloading pycountry-22.3.5.tar.gz (10.1 MB)
     |████████████████████████████████| 10.1 MB 5.2 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from pycountry) (57.4.0)
Building wheels for collected packages: pycountry
  Building wheel for pycountry (PEP 517) ... done
  Created wheel for pycountry: filename=pycountry-22.3.5-py2.py3-none-any.whl size=10681845 sha256=a76a4aa41f713ae5a526218f19c402822c028ce07427e4adc1fa52e30ec36ac7
  Stored in directory: /root/.cache/pip/wheels/0e/06/e8/7ee176e95ea9a8a8c3b3afcb1869f20adbd42413d4611c6eb4
Successfully built pycountry
Installing collected packages: pycountry
Successfully installed pycountry-22.3.5

In [2]:

df = pd.read_csv('https://raw.githubusercontent.com/devfmx/master-data-ai/main/9.%20Proyecto/Forbes%20Richest%20Atheletes%20(Forbes%20Richest%20Athletes%201990-2020).csv')

# Creating a copy of the original dataframe- df
df1 = df.copy()
df1.drop('S.NO',axis=1,inplace=True)
df1.info()

# Convert string to datetime64
df1['Year'] = df1['Year'].apply(pd.to_datetime,format='%Y')

#Set Date column as the index column.
df1['year'] = pd.DatetimeIndex(df1['Year']).year  
df1.set_index('year', inplace=True)
df1.drop('Year',axis=1,inplace=True)

# Converting the sport column to uppercase
df1['Sport'] = df1['Sport'].str.upper()
df1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Name                  301 non-null    object
 1   Nationality           301 non-null    object
 2   Current Rank          301 non-null    int64
 3   Previous Year Rank    277 non-null    object
 4   Sport                 301 non-null    object
 5   Year                  301 non-null    int64
 6   earnings ($ million)  301 non-null    float64
dtypes: float64(1), int64(2), object(4)
memory usage: 16.6+ KB

,Name,Nationality,Current Rank,Previous Year Rank,Sport,earnings ($ million)
year,,,,,,
1990,Mike Tyson,USA,1,NaN,BOXING,28.6
1990,Buster Douglas,USA,2,NaN,BOXING,26.0
1990,Sugar Ray Leonard,USA,3,NaN,BOXING,13.0
1990,Ayrton Senna,Brazil,4,NaN,AUTO RACING,10.0
1990,Alain Prost,France,5,NaN,AUTO RACING,9.0

## 5 ¿Cuántos atletas por deporte tiene cada país?

In [3]:
atletas_por_deporte_y_pais = {}
paises = list(set(df1['Nationality'])) # lista de paise

for p in paises:
  pais = df1[df1['Nationality']==p]
  atletas_por_deporte = dict(pais['Sport'].value_counts().to_frame()) # obtiene el númeroo de atletas por deporte
  atletas_por_deporte_y_pais[str(list(pais["Nationality"].head(1)))] = dict(atletas_por_deporte['Sport']) # genera un diccionario -> key: pais, value: diccionario con atletas por deporte

atletas_por_deporte_y_pais

{"['Argentina']": {'SOCCER': 9},
 "['Australia']": {'GOLF': 1},
 "['Austria']": {'AUTO RACING': 1},
 "['Brazil']": {'AUTO RACING': 4, 'SOCCER': 5},
 "['Canada']": {'AUTO RACING': 2, 'BOXING': 1, 'HOCKEY': 1, 'ICE HOCKEY': 2},
 "['Dominican']": {'BASEBALL': 1},
 "['Filipino']": {'BOXING': 1},
 "['Finland']": {'F1 RACING': 3},
 "['France']": {'AUTO RACING': 3},
 "['Germany']": {'AUTO RACING': 3, 'F1 MOTORSPORTS': 5, 'F1 RACING': 5},
 "['Ireland']": {'MMA': 1},
 "['Italy']": {'MOTORCYCLE GP': 4},
 "['Mexico']": {'BOXING': 1},
 "['Northern Ireland']": {'GOLF': 1},
 "['Philippines']": {'BOXING': 3},
 "['Portugal']": {'SOCCER': 10},
 "['Russia']": {'ICE HOCKEY': 1},
 "['Serbia']": {'TENNIS': 1},
 "['Spain']": {'TENNIS': 1},
 "['Switzerland']": {'TENNIS': 12},
 "['UK']": {'AUTO RACING': 4, 'SOCCER': 9},
 "['USA']": {'AMERICAN FOOTBALL': 17,
  'AMERICAN FOOTBALL / BASEBALL': 1,
  'AUTO RACING': 1,
  'AUTO RACING (NASCAR)': 2,
  'BASEBALL': 5,
  'BASKETBALL': 81,
  'BOXING': 40,
  'CYCLING': 1,
  'GOLF': 42,
  'NASCAR': 3,
  'NBA': 1,
  'NFL': 3,
  'TENNIS': 9}}

## 6 Ganancia mínima y máxima (dentro del dataset) por deporte y por país.

In [4]:
def ganancias(df, case):
  print("Ganancias por " + case + "\n")
  earn = {}
  args = list(set(df[case]))
  for a in args:
    arg = df[df[case]==a]
    earn[str(list(arg[case].head(1)))] = {'max':max(arg["earnings ($ million)"]),
                                          'min':min(arg["earnings ($ million)"])}
  return earn

earn_sport = ganancias(df1, "Sport")
earn_sport

Ganancias por Sport

{"['AMERICAN FOOTBALL / BASEBALL']": {'max': 22.5, 'min': 22.5},
 "['AMERICAN FOOTBALL']": {'max': 89.5, 'min': 29.0},
 "['AUTO RACING (NASCAR)']": {'max': 24.5, 'min': 20.0},
 "['AUTO RACING']": {'max': 59.0, 'min': 9.0},
 "['BASEBALL']": {'max': 35.0, 'min': 12.7},
 "['BASKETBALL']": {'max': 89.0, 'min': 8.1},
 "['BOXING']": {'max': 300.0, 'min': 8.1},
 "['CYCLING']": {'max': 28.0, 'min': 28.0},
 "['F1 MOTORSPORTS']": {'max': 75.0, 'min': 33.0},
 "['F1 RACING']": {'max': 80.0, 'min': 34.0},
 "['GOLF']": {'max': 115.0, 'min': 8.1},
 "['HOCKEY']": {'max': 17.9, 'min': 17.9},
 "['ICE HOCKEY']": {'max': 29.8, 'min': 13.5},
 "['MMA']": {'max': 99.0, 'min': 99.0},
 "['MOTORCYCLE GP']": {'max': 35.0, 'min': 28.0},
 "['NASCAR']": {'max': 34.0, 'min': 19.1},
 "['NBA']": {'max': 15.2, 'min': 15.2},
 "['NFL']": {'max': 16.5, 'min': 9.5},
 "['SOCCER']": {'max': 127.0, 'min': 28.0},
 "['TENNIS']": {'max': 106.3, 'min': 8.5}}

In [7]:
earn_country = ganancias(df1, "Nationality")
earn_country

Ganancias por Nationality

{"['Argentina']": {'max': 127.0, 'min': 32.3},
 "['Australia']": {'max': 8.5, 'min': 8.5},
 "['Austria']": {'max': 13.5, 'min': 13.5},
 "['Brazil']": {'max': 105.0, 'min': 10.0},
 "['Canada']": {'max': 23.0, 'min': 10.2},
 "['Dominican']": {'max': 35.0, 'min': 35.0},
 "['Filipino']": {'max': 62.0, 'min': 62.0},
 "['Finland']": {'max': 45.0, 'min': 40.0},
 "['France']": {'max': 16.0, 'min': 9.0},
 "['Germany']": {'max': 80.0, 'min': 15.0},
 "['Ireland']": {'max': 99.0, 'min': 99.0},
 "['Italy']": {'max': 35.0, 'min': 28.0},
 "['Mexico']": {'max': 94.0, 'min': 94.0},
 "['Northern Ireland']": {'max': 50.0, 'min': 50.0},
 "['Philippines']": {'max': 160.0, 'min': 40.0},
 "['Portugal']": {'max': 109.0, 'min': 38.0},
 "['Russia']": {'max': 29.8, 'min': 29.8},
 "['Serbia']": {'max': 55.8, 'min': 55.8},
 "['Spain']": {'max': 44.5, 'min': 44.5},
 "['Switzerland']": {'max': 106.3, 'min': 35.0},
 "['UK']": {'max': 50.0, 'min': 9.0},
 "['USA']": {'max': 300.0, 'min': 8.1}}